[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "~=3.12"
pymysql = "~=1.0"
pyquery = "~=1.4"
pyyaml = "~=6.0"
requests = "~=2.27"
selenium = "~=4.1"
beautifulsoup4 = "~=4.10"
dict-hash = "~=1.1"
sqlalchemy = "~=1.4"
celery = "~=4.4"
redis = "~=4.1"
croniter = "~=1.2"
sqlalchemy-utils = "~=0.38"
tocamelcase = "~=0.0"
google-cloud = "~=0.34"
google-cloud-bigquery = "~=2.32"
google-cloud-bigquery-storage = "~=2.11"
google-api-python-client = "~=2.36"
pyarrow = "~=6.0"
oauth2client = "~=4.1"
pandas = "~=1.4"
jinja2 = "~=3.0"

[requires]
python_version = "3.9"
