[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "~=3.11"
pymysql = "~=1.0"
pyquery = "~=1.4"
pyyaml = "~=5.4"
requests = "~=2.25"
selenium = "~=3.141"
beautifulsoup4 = "~=4.9"
dict-hash = "~=1.1"
sqlalchemy = "~=1.4"
celery = "~=4.4"
redis = "~=3.5"
croniter = "~=1.0"
sqlalchemy-utils = "~=0.37"
tocamelcase = "~=0.0"
google-cloud = "~=0.34"
google-cloud-bigquery = "~=2.17"
google-cloud-bigquery-storage = "~=2.4"
google-api-python-client = "~=2.6"
pyarrow = "~=4.0"
oauth2client = "~=4.1"
pandas = "~=1.1"
jinja2 = "~=3.0"

[requires]
python_version = "3.8"
